data/
.logs


uv.lock
*.log
.venv
.venv/

__pycache__/


*.tf
*.tfvars
backend/test_terraform.py
backend/test_zure_model.py
backend/app/data/.~lock.cleaned_jobs.csv#
backend/app/data/cleaned_jobs.csv
backend/app/data/uncleaned-ds-jobs.csv
logs/
backend/app/data/embedding_db