uv.lock
*.log
.venv
.env
backend/.env
__pycache__/
terraform/
.terraform/
*.tf
*.tfvars
backend/test_terraform.py
backend/test_zure_model.py
terraform/main.tf
backend/app/data/.~lock.cleaned_jobs.csv#